*{margin: 0;padding: 0;}
img{border: 0;}
a{text-decoration: none;}
li{list-style: none;}




.Button{width: 120px;height: 150px;border-radius: 5px; }
#suoyin{width: 550px;height: 40px;margin:80px auto;}
#suoyin1{width: 380px;height: 40px;float: left;border-radius: 10px;}
#suoyin2{float: right;border: 1px solid #ccc; text-align: center;text-decoration: none;line-height: 40px;font-family: 宋体;font-weight: bold;font-size: 20px;}
.suoyinS{width: 165px;height: 40px;border-radius: 10px; }
#suoyin11{width: 380px;height: 40px;float: left;text-align: left;border-radius: 10px;border: 1px solid #ccc;}
#wangye{width: 600px;height: 510px;margin:20px auto;border: 1px solid #ccc;}
#QQshouye{width: 120px;height: 150px;float: left;}
#wedding{width: 120px;height: 150px;margin-left: 150px;}
#QQshouye2{width: 100px;height: 150px;border: 1px solid #ccc;margin: 130px  auto;}
#QQshouye3{width: 100px;height: 150px;border: 1px solid #ccc;margin: 130px  auto;}
#QQshouye4{width: 100px;height: 150px;border: 1px solid #ccc;margin: 130px  auto;}
#QQshouye5{width: 100px;height: 150px;border: 1px solid #ccc;margin: 130px  auto;}






