*{margin: 0;padding: 0;}
img{border: 0;}
a{text-decoration: none;}
li{list-style: none;}

body{font-size: 12px;font-family: "lucida Grande",Verdana;}
#header{width: 100%;height: 62px;overflow: hidden;min-width: 1300px;border-bottom: 1px solid #D6DFEA;background-color: #EFF4FA;margin-top: 0px auto;}
.header1{width: 182px;height: 35px;margin-top: 16px;float: left;overflow: hidden;margin-left: 40px;}
.headerlink{margin: 16px 0px 0px 205px;padding-right: 40px;line-height: 30px;text-align: right;color: #B6B6B6;background: none repeat scroll 0% 0% transparent;border-radius: 4px;float: right;}
.headerlink li{display: inline;}
.headerlink a{padding: 0px 4px;color: #1D5494;text-decoration: none;}


#Content{width: 960px;margin:0px auto;padding: 0px 22px; height: 375px;height: }
.ContentL{width: 530px;background-color: #fff;height: 372px;position: relative;margin-left: 15px;border: 1px solid #ccc;float: left;}
.ContentL1{float: none;position: absolute;right: 10px;bottom:0px;z-index: 1;float: right;}
.ContentL2{margin-top: 25px;padding-left: 0px;z-index: 2;float: left;}
.ContentL2 h1{font-size: 24px;line-height: 26px;padding-top: 5px;margin-top: 10px;margin: 15px 15px 15px 0px;font-weight: normal;color: #6F95C8;float: left;}
.ContentL2 p{font-weight: normal;font-size: 14px;line-height: 24px;display: block;}
.ContentL2 a{text-decoration: none;display: block;margin-top: 15px;}






.ContentR{width: 334px;height:372px;margin:0px auto; border: 1px solid #ccc;float: right;border-radius: 10px;position: relative;}
.Title{margin: 0 auto;position: relative;width: 225px;height: 50px;}
.switch1{height: 46px;position: absolute;bottom: 0px;font-size: 16px;left: 0px;}
#kuaisu{margin-right: 60px;cursor: pointer;}
.kuaisu-btn{color: #999;display: inline-block;height: 45px;line-height: 45px;outline: 0px none;float: left;}
.switch a{text-decoration: none;}
.switch2{height: 46px;position: absolute;bottom: 0px;font-size: 16px;right: 0px;}
.zhanghao{color: #333;display: inline-block;height: 45px;line-height: 45px;outline: 0px none;float: right;cursor: pointer;}
#A{width: 334px;height: 50px;border-bottom: 1px solid #c0cdd9;}



.qlogin{height: 317px;width: 304px;position:relative;margin: 0 auto;}
.erweima{position: absolute;top: 25px;left: 12px;width: 280px;height: 200px;text-align: center;}
.A1{height: 20px;line-height: 20px;font-size: 14px;font-weight: bold;text-align: center;margin-left: 5px;}
.A2{position: absolute;left: 74px;height: 130px;width: 130px;top: 30px;border: 1px solid #D3D3D3;z-index: 100;}
#A3{display: inline-block;height: 30px;line-height: 30px;text-decoration: none;width: 152px;top:160px;position: absolute;left: 65px;}
.A3{color: #808080;display: block;background-color: #FCFCFC;border-radius: 10px;margin-top: 5px;background: url('https://ui.ptlogin2.qq.com/style/33/images/icon_3_tiny.png') no-repeat scroll 0px -541px transparent;}
.erweima a:hover{color: #333;}
.Bottom{width: 284px;height: 24px;position: absolute;right: 10px;bottom: 14px;display: block;}
.B1{float: left;height: 24px;width: 120px;line-height: 20px;margin-top: 6px;}
.B1-1-1{width: 14px;height: 14px;border: 1px solid #4892E7;cursor: pointer;background-image: url("../images/icon_ptloginpage1dccf5.png");background-position: -38px -17px;float: left;margin-top: 2px;}
.B1-2{margin-left: 5px;text-align: right;font-size: 12px;cursor: pointer; }
.B2{float: right;height: 24px;text-align: right;line-height: 20px;margin-top: 6px;}
.B2 a{color: #225592;margin-right: 10px;margin-left: 10px;}
.B2 a:hover{text-decoration: underline;}


.uinArea{height: 50px;position: relative;margin-left: 10px;margin-top: 30px;} 
.U{top: 12px;position: absolute;left: 13px;font-size: 14px;line-height: 16px;color: #AAA;cursor: text;}
.inputOuter{background: none repeat scroll 0% 0% transparent;border: 2px solid #4892E7;height: 38px;width: 282px;border-radius: 2px;border: 0px none;}
.inputstyle{top: 0px;padding: 10px 40px 10px 10px;left: 0px;border-radius: 3px;width: 282px;position: relative;height: 38px;line-height: 22px;color: #333;background: none repeat scroll 0px center transparent;font-size: 16px;font-family: Verdana,Tahoma,Arial;background: none repeat scroll 0px center transparent;}
.B3{float: right;height: 24px;text-align: right;line-height: 20px;position: absolute;right: 10px;display: block;margin-top: 60px;}
.B3 a{color: #225592;margin-right: 10px;margin-left: 10px;}
.B3 a:hover{text-decoration: underline;}
.pwdArea{height: 50px;position: relative;margin-left: 10px;margin-top: 10px;} 
.M{top: 12px;position: absolute;left: 13px;font-size: 14px;line-height: 16px;color: #AAA;cursor: text;}
.B4{margin-left: 15px;}

#Button{width: 282px;height: 40px;border: 1px solid #ccc;margin-left: 10px;margin-top: 25px;text-align: center;background-color: #5A98DE;border-radius: 5px;cursor: pointer;}
#Button a{font-weight: bold;color: #fff;font-size: 18px;cursor: pointer;height: 40px;line-height: 40px;}



#footer{width: 100%;height: 34px;overflow: hidden;min-width: 1300px;border-top: 1px solid #D6DFEA;background-color: #EFF4FA;margin-bottom: 0px auto;margin-top: 85px;text-align: center;}
.footerlink{line-height: 34px;margin: 0 auto;padding: 0 32px;width: 960px;height: inherit;margin-left: 300px;}
.footerlink li{ width:71;height: 16px; float: left;display: inline;}
.footerlink a{padding: 0 4px;color: #1D5494;text-decoration: none;}




