*{margin: 0;padding: 0;transition-property:all;transition-duration: 1s;-moz-transition-duration: 1s; /* Firefox 4 */-webkit-transition-duration: 1s; /* Safari 和 Chrome */-o-transition-duration: 1s; /* Opera */}
img{border: 0;}
a{text-decoration: none;}
li{list-style: none;}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA(1).woff") format("woff");
}
/*a:before, a:after {
    transition: color 0.1s ease-in 0s, #000 0.1s ease-in 0s;
}
*/
#Title{width: 100%;height: 680px;background: url("../images/1.jpg") fixed;}
#wangge{width: 100%;height: 680px;background-image: url("../css/images/dots.png");position: absolute;}
.Word1{width: 1140px;height: 160px;position: absolute;left: 100px;top: 200px;color: white;font-size: 70px;font-weight: 700;letter-spacing: 3px ;text-align: center;}
.Word1 h1{text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;}
.Word2{width: 1140px;height: 75px;position: absolute;left: 100px;top: 390px; color: white;font-size: 50px;font-weight: 700;letter-spacing: 3px ;text-align: center;}
.Word2 h2{text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px; color: white;}
#TitleList{z-index: 50;width: 260px;height: 100%;right:-200px;top: 30px;position: relative;position: fixed;z-index: 99;}
.Button{width: 40px;height: 40px;left:0px;top:30px;background-color: rgba(222, 103, 95, 0.25);cursor: pointer;display: block;text-align: center;color: #ffffff;position: absolute;line-height: 40px;}
.menu{width: 200px;height: 100%;right: 0px;background-color: #de675f;position: absolute;top: 0px;}
.Logo{margin-top: 20px;margin-bottom: 10px;font-size: 16px;font-weight: 300;font-family: "Raleway";line-height: 1.1;}
.menu a{margin-left: 20px;color: #fff;display: block;font-weight: 700;line-height: 40px;letter-spacing: 0.1em;text-transform: uppercase;font-size: 12px;}
.menu a>i{width: 25px;float: left;display: inline;vertical-align: middle;text-align: left;font-size: 14px;line-height: 40px;margin: 25px 2px;}
.fa{display: inline-block;font-family: "FontAwesome";font-style: normal;font-weight: normal;}



#Time{width: 100%;height: 257px;text-align: center;background-color: #ffffff;}
#Pic1{width: 100%; height: 385px;background-color: #f2f2f2;}
#Story{width: 100%;height: 1348px;}
#Pic2{width: 100%;height: 580px;background-color: #ddd;position: relative;overflow: hidden;z-index: 50;}
#moment{width: 100%;height: 771px;}
#mail{width: 100%;height: 620px;background: url("../images/rsvp-bg.jpg") no-repeat center ;padding-bottom: 70px;padding-top: 70px;}
#Gifts{width: 100%;height: 372px;}
#Words{width: 100%;height: 193px;background-color: #f2f2f2;}
#Footer{width: 100%;height: 42px;background-color: #2f2f2f;}




/********倒计时开始**********/
.Time1{width: 1170px;height: 125px;display: block;margin: 0 auto;}
.Time2{width: 780px;height: 129px;display: block;margin: 0 auto;}
.Time11{width:1170px;line-height: 16px;font-size: 30px;padding-top: 50px;padding-bottom: 15px;font-family: 'Pacifico', cursive;color: #dd675b;text-align: center;}
.hearts{width: 142px;height: 3px;background-image: url("images/main-nav-divider.png");display: block;height: 1em;margin: 20px auto;padding: 0 0 5px;background-repeat: no-repeat;}
.shuzi{position: relative;width: 114px;height: 114px;display: inline-block;margin-right: 20px;float: left;}
.shuziTitle{position: absolute;display: block;right: 6px;font-size: 14px;color: #6f6f6f;margin-top: 110px;margin-top: 130px;}
.Digit{width: 55px;height: 98px;font-weight: bold;color: #6f6f6f;font-family: "Roboto Slab";text-align: center;position: relative;float: left;
font-size: 85px;}
/*******倒计时结束***********/




/*******图片1开始**********/
.Pic1Content{list-style: none;margin: 70px auto;width: 1170px;height: 295px;display: block;text-align: center;padding: auto;}
.Pic1Content li{display: block;margin: 20px 70px auto 70px;width: 220px;height: 220px;float: left;}
.ch-info{background: none repeat scroll 0% 0% rgba(222, 103, 95, 0.8);width: inherit;height: inherit;border-radius: 50%;opacity: 0;transition: all 0.4s ease-in-out 0s;}
.ch-info h3{text-align: center;color: #FFF;text-transform: uppercase;letter-spacing: 2px;font-size: 22px;margin: 0px 30px;padding: 90px 0px 0px;height: 50px;font-family: "Open Sans",Arial,sans-serif;text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);font-weight: 300;}
.ch-info p{text-align: center;color: #FFF;padding: 10px 5px;font-style: italic;margin: 0px 30px;font-size: 14px;border-top: 1px solid rgba(255, 255, 255, 0.5);opacity: 0;transition: all 1s ease-in-out 0.4s;}
#mid{width: 250px;height: 250px;float:auto;}
.che-itm{width: 100%;height: 100%;border-radius: 50%;position:relative;cursor: pointer;box-shadow: inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);transition: all 0.4s ease-in-out;}
.che-itm-1{background-image: url("images/groom.jpg");}
.che-itm-2{background-image: url("images/couple.jpg");}
.che-itm-3{background-image: url("images/bride.jpg");}
.Time11-1{width:1170px;line-height: 16px;font-size: 30px;margin-bottom: 80px;padding-top: 20px;padding-bottom: 15px;font-family: 'Pacifico', cursive;color: #dd675b;text-align: center;padding-top: 50px;}
.hearts-1{width: 142px;height: 3px;background-image: url("images/main-nav-divider.png");display: block;height: 1em;margin: 20px auto;padding: 0 0 5px;background-repeat: no-repeat;}
/********结束************/


/********Story**********/
.Post{width: 780px;height: 300px;margin-left:300px;}
.yuan{width: 100px;height: 100px;border-radius: 50%;position: relative;cursor: pointer;float: left;border: 1px solid #ccc;background-color: #dd675b;margin-right: 15px;}
.Content1{width: 650px;height: 300px;float: left;margin-left:10x;border-left: 1px solid #ccc;}
.arrowpart{float: left;width: 15px;height: 50px;background-image: url("../css/images/arrow-left.png");background-repeat: no-repeat;background-position: 0 23px;}
.exCon{display: block;width: auto;;background-color: #f3f3f3;border-bottom: solid 4px #eeeeee;padding: 11px 47px 6px 47px;margin-left: 15px;text-align: left;}
.dropcap{width: 50px; height: 70px;text-align: center;float: left;font-size: 80px;line-height: 70px;margin: 10px 6px 0 0;text-align: justify;color: #6f6f6f;font-weight: 300;}
h3{display: block;font-size: 1.17em;font-weight: bold;text-align: left;color: #6f6f6f;}
p{line-height: 28px;margin-bottom:25px;text-align: justify;color: #6f6f6f;}
.PostYear{width: 100px;height: 100px;padding-top: 40px;font-size: 17px;color: #fff;text-align: center;padding: 40px 0 40px 0;}

/*******结束*************/



/********moment*********/
.momentContent{width: 1170px;height: 640px;margin: -75px auto;z-index: 2;margin-left: 85px;}
.momentContent1{width: 575px;height: 640px;float: left;}
.momentContent2{width: 575px;height: 640px;float: right;}
.moment1{width:1170px;line-height: 16px;font-size: 30px;padding-top: 50px;padding-bottom: 15px;font-family: 'Pacifico', cursive;color: #dd675b;text-align: center;margin-left: 85px;}
.moment1 p{font-family: "Roboto Slab";}
h2{display: block;font-size: 1.17em;font-weight: bold;text-align: center;color: #6f6f6f;}
.event-meta{margin-top: 15px;clear: both;width: 570px;height: 22px;text-align: center;}
.fa{text-align: left;display: inline-block;font-family: FontAwesome;font-style: normal;font-weight: normal;line-height: 1;width: 15px;height: 16px;}
.fa-calendar-o{content: "f133";}
.momentContent1-2{width: 580px;height: 375px;text-align: center;}
.event-meta span {margin-right: 18px;font-family: "Roboto Slab";font-weight: 300;font-size: 16px;color: #6f6f6f;}
.event-meta a{font-size: 88px;}
.momentContent1-3{width: 570px;height: 20px;float: left;text-align: center;}
.momentContent1-3 a{font-size: 20px;display: block;color: #f85c37;}
.momentContent1-3 a:hover{font-size: 20px;color: #6f6f6f;}
.P1{width: 550px;height: 350px; background-image: url("../images/event-1.jpg");cursor: pointer;}
.P2{width: 550px;height: 350px; background-color: #111;opacity: 0.7;}
.P3{width: 550px;height: 350px; background-image: url("../images/event-2.jpg");cursor: pointer;}
.P4{width: 550px;height: 350px; background-color: #111;opacity: 0.7;}
/*********结束********/


/**************email开始************/
.emailContent{padding-right: 15px;padding-left: 15px;margin: auto;width: 1170px;height: 650px;display: block;padding-top:0px;}
.EmailTop{width:1170px;line-height: 16px;font-size: 30px;padding-top: 15px;padding-bottom: 5px;font-family: 'Pacifico', cursive;color: rgb(255, 255, 255);text-align: center;}
.emailContent1{width: 390px;height:520px;margin-left: 395px!important;margin-left: 420px;}
.form-group{width: 360px;height: 50px;margin: auto;text-align: center;padding-bottom: 15px;margin: auto;}
.text-input.form-control{background: none;height: 50px;border-radius: 0;}
.radio{margin: 4px 0 0 ;line-height: normal;padding: 0;}
.form-group1{width: 330px;height: 25px;margin: auto;text-align: center;padding-bottom: 15px;margin: auto;font-size:16px;font-family: 'Roboto Slab';font-weight: 300;color: rgb(111, 111, 111); }
#input-message{height: 150px;width: 360px!important;width: 340px;}
.error{margin-bottom: 5px;font-weight: bold;padding-bottom: 5px;margin-left: 115px;color: rgb(111, 111, 111);}
.Submit{cursor: pointer;width: 330px;height: 34px;margin-top:110px!important;margin-top: 20px;margin-left: 30px!important;margin-left: 10px;text-align: center;box-shadow: 1px 1px 5px #285e8e;background-color: #3276b1;line-height: 16px;border-bottom: 3px;display: block;padding: auto;}
.Submit a{margin-top: 10px;vertical-align:middle;border-bottom: 3px;padding: auto;display: block;color: #f4f4f4;}
.Submit:hover{background-color: #285e8e;}
/************结束***************/


.Gifts1{width:1170px;line-height: 16px;font-size: 30px;padding-top: 50px;padding-bottom: 15px;height:300px ;font-family: 'Pacifico', cursive;color: #dd675b;text-align: center;margin-left: 20px!important;margin-left: 80px;}
.P{width: 555px;height: 112px;margin: 0 auto;font-size: 16px;font-weight:300;color: #6F6F6F}
.list-inline{text-align: center;padding: 0px;list-style: none outside none;width: 555px;height: 31px;margin: 20px auto;}
.ul{margin: 0px;margin-bottom: 10px;height: 31px;width: 555px;display: block;}
.list-inline a{padding-left: 10px;}



.Words-1{width: 780px;height: 125px;padding-left: 15px;padding-right: 15px;margin:30px;text-align: center;margin-left: 300px;}
.Words-1 h2{font-family: "Pacifico",cursive;color: #dd675b;margin-bottom: 15px;font-weight: 300;font-size: 30px;margin-top: 20px ;line-height: 1.1;margin-left: 20px;margin-right: 20px;}
.Words-1 span{font-size: 16px;color: #6F6F6F;font-family: "Roboto Slab";font-weight: 300;}


.Footer-1{width: 780px;}

.photo{cursor: pointer;}
#photo1{width: 200px;height: 250px;top: -30px;left: 80px;transform:rotate(30deg);position: absolute;z-index: 59; transition:transform 2s;}
#photo2{width: 200px;height: 250px;top: 200px;left: 200px;transform:rotate(-50deg);position: absolute;z-index: 55;transition:transform 2s;}
#photo3{width: 200px;height: 250px;top: 300px;left:90px;transform:rotate(50deg);position: absolute;z-index: 52;transition:transform 2s;}
#photo4{width: 200px;height: 250px;top: -50px;left: 1100px;transform:rotate(45deg);position: absolute;z-index: 46;transition:transform 2s;}
#photo5{width: 200px;height: 250px;top: 150px;left: 880px;transform:rotate(-30deg);position: absolute;z-index: 54;transition:transform 2s;}
#photo6{width: 200px;height: 250px;top: 250px;left:980px;transform:rotate(60deg);position: absolute;z-index: 56;transition:transform 2s;}
#photo7{width: 200px;height: 250px;top: 200px;left:500px;position: absolute;z-index: 70;}












